	
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tabs/(species:species)">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ species?.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="unfavoriteSpecimen()" *ngIf="isFavorite">
        <ion-icon name="star" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
      <ion-button (click)="favoriteSpecimen()" *ngIf="!isFavorite">
        <ion-icon name="star-outline" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content padding="">
 
  <ion-card *ngIf="specimen" class="movie-card">
    <ion-card-header>Name {{ specimen.name }}</ion-card-header>
    <ion-card-content>
      Classification: {{ specimen.classification }}
    </ion-card-content>
 
  </ion-card>
 
</ion-content>